@font-face {
  font-family: 'minCraft';
  src: url(../assets/fonts/bloxat-font/Bloxat-PDoE.ttf);
}

.start-game {
  background: url('../assets/cover/cover-desert.jpg') no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  height: 100vh;
  width: 100%;
  font-family: minCraft;
  font-size: 2rem;
}
.start-game .logo {
  width: 80rem;
  height: 20rem;
  background: url('../assets/cover/miecraft-logo.png') no-repeat center
    center/cover;
}

.tutorial {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tutorial-icon {
  background: url('../assets/cover/bock.png') no-repeat center center/cover;
  border-radius: 50%;
  width: 2rem;
}

.tutorial-explanation {
  display: flex;
  gap: 1rem;
}

.tutorial p {
  text-shadow: rgb(131, 72, 17) 1px 1px 4px;
}

/* #############################*/
/* #                            */
/* #       start button         */
/* #                            */
/* #############################*/

.btn-start .btn-design span {
  position: relative;
  display: inline-flex;
  width: 22rem;
  height: 7rem;
  margin: 0 1.5rem;
  perspective: 120rem;
  transform: skewX(-15deg);
  outline: 1px solid transparent;
}

.btn-start .btn-design span a {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: translateZ(2.5rem);
  transition: transform 0.25s;
  font-family: 'minCraft';
  backface-visibility: hidden;
  outline: 1px solid transparent;
}

.btn-start .btn-design span a:before,
.btn-start .btn-design span a:after {
  position: absolute;
  content: 'START GAME';
  height: 7rem;
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5rem solid rgb(101, 62, 14);
  box-shadow: 0.6rem 0.6rem 0 rgba(231, 201, 118, 0.638);
  box-sizing: border-box;
  border-radius: 0.5rem;
  backface-visibility: hidden;
  outline: 1px solid transparent;
}

.btn-start .btn-design span a:before {
  color: rgba(231, 201, 118);
  background: rgb(101, 62, 14);
  transform: rotateY(0deg) translateZ(25px);
  outline: 1px solid transparent;
}

.btn-start .btn-design span a:after {
  color: rgb(101, 62, 14);
  background: rgba(231, 201, 118);
  border: 5px solid rgba(231, 201, 118);
  box-shadow: 6px 6px 0 rgba(101, 62, 14, 0.638);
  transform: rotateX(90deg) translateZ(25px);
}

.btn-start .btn-design span a:hover {
  transform: translateZ(-0.25rem) rotateX(-90deg);
}

/* #############################*/
/* #                            */
/* #       mouse icon           */
/* #                            */
/* #############################*/

img.mouse-icon {
  position: fixed;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.display-none {
  display: none;
}
